@use "../global" as *;

.top-access {
    padding-top: rem(82);
    padding-bottom: rem(120);
    @include mq("md") {
        padding-top: rem(80);
        padding-bottom: rem(200);
    }
}

.top-access__inner {
    @include mq('md') {
        max-width: 812px + strip-unit($padding-pc) * 2;
        padding-right: rem(strip-unit($padding-pc));
        padding-left: rem(strip-unit($padding-pc));
    }
}

.top-access__map {
    margin-top: rem(58);
    width: 100%;
    aspect-ratio: 335 / 400;
    @include mq("md") {
        margin-top: rem(78);
        width: rem(650);
        aspect-ratio: 650 / 450;
        margin-left: auto;
        margin-right: auto;
    }
}

.top-access__map iframe {
    width: 100%;
    height: 100%;
}

.top-access__text {
    margin-top: rem(32);
    font-size: rem(14);
    line-height: calc(21 / 14);
    text-align: center;
    @include mq("md") {
        margin-top: rem(71);
        font-size: rem(16);
        line-height: calc(24 / 16);
    }
}

.top-access__text span {
    display: inline-block;
}

.top-access__time {
    margin-top: rem(63);
    width: 100%;
    @include mq("md") {
        margin-top: rem(78);
        width: rem(800);
        margin-left: auto;
        margin-right: auto;
    }
}

.top-access__time img {
    aspect-ratio: 335 / 99;
    width: 100%;
    object-fit: contain;
    @include mq("md") {
        aspect-ratio: 800 / 236;
    }
}

