@use "../global" as *;

.treatment-cat-head__img {
    width: rem(60);
    margin-right: auto;
    margin-left: auto;
    @include mq("md") {
        width: rem(70);
    }
}

.treatment-cat-head__img img {
    aspect-ratio: 60 / 50;
    object-fit: contain;
    @include mq("md") {
        aspect-ratio: 70 / 58;
    }
}

.treatment-cat-head__title {
    margin-top: rem(9);
    font-size: rem(26);
    line-height: calc(32 / 26);
    font-weight: $regular;
    text-align: center;
    @include mq("md") {
        margin-top: rem(8);
        font-size: rem(30);
        line-height: calc(37 / 30);
    }
}

.treatment-cat-head__text {
    margin-top: rem(19);
    font-size: rem(16);
    line-height: calc(24 / 16);
    text-align: center;
    @include mq("md") {
        margin-top: rem(35);
    }
}

.treatment-cat-head__text br {
    @include brheight(10);
}